.mainAssistanceSection {
  margin: 5px;
  width: 70%;
  float: left;
}

.assistanceHeading {
  text-align: center;
}

.enquiry {
  height: 200px;
}

/* ############################################# */
/*                 RESPONSIVE STYLE              */
/* ############################################# */

@media screen and (max-width: 1300px) {
  .helpform {
    float: left;
    width: 75%;
  }

  .helpAsside {
    /* border: 3px solid green; */
    float: right;
    margin-top: -680px;
  }

  .helpAsside button {
    width: 60%;
    margin-left: 70px;
  }
}

/* @media screen and (max-width: 1100px) {
  .helpAsside { */
/* border: 3px solid green; */
/* float: left;
    margin-top: 10px;
  }
} */

@media screen and (max-width: 960px) {
  .assistanceHeading {
    /* border: 3px solid blue; */
    width: 100%;
    margin-left: 15%;
    font-size: medium;
  }

  .assistanceHeading h1 {
    font-size: 20px;
  }

  .assistanceHeading p {
    font-size: 14px;
  }

  .helpform {
    width: 100%;
    font-size: small;
  }

  .helpAsside {
    /* border: 3px solid green; */
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 0px;
  }

  .helpAsside button {
    /* border: 3px solid green; */
    margin-left: 10%;
  }
}

/* ##################################################### */

@media screen and (max-width: 640px) {
  .mainAssistanceSection {
    width: 85%;
  }

  .helpAsside {
    width: 90%;
    float: left;
    margin-left: 5%;
  }

  .helpAsside button {
    width: 50%;
    margin-left: 30%;
    font-size: medium;
  }

  .helpAsside button a {
    font-size: medium;
  }

  .assistanceHeading {
    /* border: 3px solid blue; */

    /* margin-left: 15%; */
    font-size: small;
  }

  .assistanceHeading h1 {
    font-size: 18px;
  }

  .assistanceHeading p {
    font-size: 13px;
  }

  .helpform {
    width: 100%;
    font-size: small;
  }
}

@media screen and (max-width: 420px) {
  .helpAsside {
    margin-top: -25px;
    margin-left: 10%;
  }

  .helpAsside button {
    width: 60%;
    font-size: small;
  }

  .helpAsside button a {
    font-size: small;
  }
}
