/* *******  PAGE CONTENT STYLE ******* */

.basepage {
  margin-top: 60px;
}

.header {
  text-align: center;
  float: left;
  background-color: #23383b;
  color: #fff;
  width: 100%;
  height: 55px;
  padding-top: 1px;
  position: relative;
  font-family: Nav_bar_font;
}

/* *******  HEADER STYLE ******* */
.header h1 {
  text-align: center;
  text-shadow: 4px 3px 2px #666bbb;
}

/* *******  NAVIGATION BAR STYLE ******* */
#navigation {
  width: 100%;
  height: 60px;
  background-color: #9ec6cd;
  font-family: Nav_bar_font;
}

ul#navigation_links li {
  display: inline;
  list-style: none;
  height: 60px;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  padding: 20px 10px;
}

ul#navigation_links li a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

#navigation li:hover {
  text-decoration: none;
  background: #c3e7f5;
}

#navigation a:visited {
  color: blue;
}

ul#navigation_links li.dropdownIcon {
  display: none;
}

/* *******  FOOTER STYLE ******* */
footer {
  float: left;
  position: absolute;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  background-color: #333333;
  color: white;
  text-align: center;
  font-size: 20px;
  bottom: 0;
}
