* {
  margin: 0;
  box-sizing: border-box;
}

.homepage {
  font-size: 50px;
  height: 100%;
}

.homeMainSection {
  float: left;
  /* border: 2px solid gray; */
  width: 100%;
}

.homeAssideSection {
  /* border: 2px solid brown; */
  text-align: center;
  float: right;
  background-color: white;
  margin: 10px;
  width: 30%;
  height: 30rem;
}

.mainContent {
  float: left;
  /* border: 2px solid red; */
  margin: 10px;
}

.mainImage {
  float: left;
  width: 65%;
  background-image: url('../images/homepageImage.jpg');
  border-radius: 20px;
  height: 30rem;
  background-size: 100%;
  margin: 10px;
}

.bookservice {
  width: 70%;
}

.homepageButton {
  margin: 50px 50px;
}
