.usefulTips {
  /* border: 2px solid skyblue; */
  margin: 20px;
  width: 68%;
  float: left;
  background-color: #fbfbf8;
  text-align: center;
}

/*   ########################################   */
/*              CAR ACCIDENT PAGE               */
/*   ########################################   */

.carAccidentImg img {
  width: 100%;
  height: auto;
}
