.mainLoginSection {
  /* border: 2px solid black; */
  margin: 5px;
  height: 660px;
}

/* .mainLoginSection {
  text-align: center;
} */

.heading {
  /* border: 2px solid red; */
  margin: 20px 20px;
  padding-top: 90px;
  text-align: center;
}

.loginForm {
  border: 2px solid skyblue;
  background-color: #f2f2f2;
  width: 60%;
  padding: 50px 50px 0px 50px;
  margin-left: 20%;
  height: 400px;
}

/* ################################################ */
/* #########      RESPONSIVE STYLE     ############ */
/* ################################################ */

@media screen and (max-width: 1100px) {
  .loginForm {
    width: 80%;
    padding: 50px 50px 0px 50px;
    margin-left: 10%;
    height: 400px;
  }
}

@media screen and (max-width: 960px) {
  .loginForm {
    font-size: 14px;
  }

  .heading h3 {
    font-size: medium;
  }
}

@media screen and (max-width: 640px) {
  .loginForm {
    font-size: 12px;
  }

  .loginForm placeholder {
    font-size: small;
  }

  .heading h3 {
    font-size: small;
  }
}
