.mainRegisterSection {
  /* border: 2px solid black; */
  margin: 5px;
  /* text-align: center; */
}
.registerHeading {
  /* border: 2px solid red; */
  margin: 20px;
}
.registerForm {
  background-color: #f2f2f2;
  width: 60%;
  padding: 30px 50px 50px 50px;
  margin-left: 250px;
  height: auto;
}

/* ######################*/
/* validation form style */
/* ##################### */

.formField small {
  visibility: hidden;
  position: absolute;
}

.formField.success input {
  border: 2px solid #2ecc71;
}

.formField.error input {
  border: 2px solid #e74c3c;
}

.formField.error small {
  visibility: visible;
  color: #e74c3c;
}
