{% extends "base.html" %}

<!-- PAGE TITLE -->
{% block title %}About us{% endblock %}

<!-- HEADER  -->
{% block header %}
<h1>About us</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
<div class="aboutpage">
  <h1>Hey! You are in "About us" page</h1>

  <div class="aboutMainSection">
    <div class="aboutInfo">
      <h2>Info section Info section Info section Info section</h2>
      <h2>Info section Info section Info section Info section</h2>
      <h2>Info section</h2>

      <h2>Info section</h2>
      <h2>Info section</h2>
      <h2>Info section</h2>
      <h2>Info section</h2>
      <h2>Info section</h2>
      <h2>Info section</h2>
      <h2>Info section</h2>
    </div>
    <div class="aboutGIF">
      <img src="../static/images/aboutpage_images/pic5.jpg" id="slideimages" />
    </div>
  </div>
</div>
<!-- 
<div class="assideSection">
  <div class="homepageButton">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('bookService')}}"
        >Book a car service</a
      >
    </button>
  </div>

  <div class="homepageButton">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('helpPage')}}"
        >Contact us for advice</a
      >
    </button>
  </div>

  <div class="dropdown homepageButton">
    <button
      class="btn btn-primary dropdown-toggle bookservice btn-lg"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Useful tips
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="{{url_for('accidentAdvices')}}"
          >Accident advices</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"
          >Car maintainance tips</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"></a>
      </li>
    </ul>
  </div>
</div> -->

<script src="../static/JS/slidesFunction.js"></script>
{% endblock %}

<!--  -->
<!--  -->

{% block asside %}

<div class="assideContent">
  <!--  -->
  <!-- <div class="assideSection"> -->
  <div class="assideButtons">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('bookService')}}"
        >Book a car service</a
      >
    </button>
  </div>

  <div class="assideButtons">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('helpPage')}}"
        >Contact us for advice</a
      >
    </button>
  </div>

  <div class="dropdown assideButtons">
    <button
      class="btn btn-primary dropdown-toggle bookservice btn-lg"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Useful tips
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="{{url_for('accidentAdvices')}}"
          >Accident advices</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"
          >Car maintainance tips</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"></a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
  <!--  -->
</div>

{% endblock %}
