{% extends 'base.html' %}

<!-- PAGE TITLE -->
{% block title %}Accident Advices {% endblock %}

<!-- HEADER -->
{% block header %}
<h1>Accident advices</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}

<div class="usefulTips">
  <h2>What to do if you are are in a car accident</h2>

  <div class="carAccidentTips">
    <p>
      No one expects to be involved in a car accident. But it can happen in the
      blink of an eye – whether it's your fault or someone else's. What should
      you do in the event it happen?
    </p>

    <p>
      This is a guide that takes you through the steps required when you’ve been
      involved in a car accident.
    </p>
  </div>

  <div class="carAccidentImg">
    <img src="../static/images/car_crash.jpg" />
  </div>

  <div class="carAccidentTips">
    <h3>First steps after a car accident</h3>
    <p>
      <ul>
        <li>Stop your car as safely and as soon as possible - it’s a criminal offence to leave the scene of an accident.</li>
        <li>Switch off the engine.</li>
        <li>Switch your hazard lights on.</li>
        <li>Take a deep breath and remain calm. Don't lose your temper.</li>
        <li>Check for any injuries to yourself and your passengers.</li>
        <li>If there’s another vehicle involved check whether everyone is okay.</li>
        <li> If anyone is in pain or injured from either vehicle call an ambulance immediately. 
             Avoid moving anyone who may be badly injured.</li>
        <li>If it's a minor collision and there are no injuries, make a note of it, just in case the other people later try to claim for an injury.</li>      
      </ul>
    </p>

    <h3>When should you call the police?</h3>
    <p>
      <ul>
        <li>If after the accident the road is blocked.</li>
        <li>If the other driver leave the scene without giving details.</li>
        <li>If you think the other driver has no insurance or is under the influence of drink or drugs.</li>
        <li>If you suspect that the other driver caused the collision deliberately.</li>
      </ul>
    </p>
    <p>Call the Gardaí, depending on the accident itself you may need to call the guards and/or an ambulance, 
       this can be done by dialling either 999 or 112. 
       It’s helpful to have somebody independent and qualified on the scene. </p>
    <p><em>Tell the police about the accident within 24 hours – if you don't, you may be given a fine, points on your licence, or a disqualification from driving.</em></p>
  
  <h3>Information you should get after an accident</h3>
  <p>
    <ul>
      <li>Take note of all the people involved in the accident. This is important in case queries or injuries are brought up at a later stage. 
          By law you must give your name and address to everyone involved and they must share the same with you. 
          </li>
      <li>Swap insurance information and details with the other driver(s).</li>
      <li>Take down details of any other passengers and witnesses to the accident.</li>
      <li>Ask the other driver if they are the registered owner of the vehicle. If they are not, ask who is. 
          The car may have been borrowed or could be a company vehicle. 
          Take a note of the make, model and registration of the other vehicle(s) involved.</li>
      <li>If a foreign lorry is involved, get the numbers on both the lorry and its trailer, sometimes they are different. 
          It's also a good idea to get the name of the company if its painted on the lorry.</li>
    </ul>
  </p>

  <h3>What should I record at the accident scene?</h3>
  <p>
    <ul>
      <li>The <strong><em>make</em></strong>, <strong><em>model</em></strong>, 
              <strong><em>color</em></strong>, and <strong><em>number plate</em></strong> 
              of the vehicles involved in the accident. Take pictures of them.</li>
      <li>The time and date of the crash.</li>
      <li>The driving conditions, including the weather, lighting, and road quality 
          (such as road markings, whether its wet or muddy, repair of the road surface).</li>
      <li>What sort of damage was caused to the vehicles and where – nearside front wing and door 
          (nearside is the left side of your car, offside is the drivers side).</li>
      <li>Any injuries to drivers, passengers, or pedestrians.</li>
      <li>The names and contact details of any witnesses.</li>
      <li>Use your phone to take pictures of the scene, the positions of the cars involved, and damage to the cars.</li>
    </ul>
  </p>
  <p><em>Basically, the more information you can collect, the better, as this will be helpful when the authorities are reviewing the incident. </em></p>
  <p><em>Be very careful what you say after an accident. 
         Do not apologise to the other driver, admit responsibility or even discuss the accident at the scene. 
         This applies even if you think this might be your fault.</em></p>
  

  <h3>What to do in a single vehicle accident?</h3>
  <p>If no one else is involved in the accident, for example you caused damage to private property or a parked car:</p>
  <p>
    <ul>
      <li>you should take photos of the damage so that any later claims can’t be exaggerated.</li>
      <li>You should leave a note with your insurance and contact details somewhere that the other party can easily find them.</li>     
    </ul>
  </p>
  <p><em>You should never assume that everything will just be alright and drive off without doing the above. 
         If a witness or CCTV camera saw you and noted your car number but you drove off, you could be in serious trouble.</em></p>


  <h3>Make a claim after a car accident</h3>
  <p>After you’ve completed the above steps you need to notify your insurance company of the accident.</p>
  <p>This must be done even if you’re not planning to make a claim on your insurance policy or if you intend to pay for the damage to the other vehicle yourself as the other party might still claim later.</p>
  <p>You must notify your insurance company of an accident within 7 days.</p>


  <h3>Beware of fraudsters</h3>
  <p>There are some people who arrange accidents in order to make a fraudulent insurance claim. 
     They may cause these accidents by braking unexpectedly, causing you to go into the back of their car. 
     They may also intentionally disable their brake light bulbs, giving you no warning when they hit the brakes in front of you, 
     and making it more likely you will crash into them.</p>

  <p>To help avoid these incidents:    
    <ul>
    <li>be especially careful in stop to start traffic, at merging junctions and roundabouts,</li>
    <li>always allow plenty of space between you and the car in front</li>
    <li>be wary of erratic driving behaviour such as slowing for no reason</li>
    <li>If you notice faulty brake lights, increase your distance.</li>
    <li>You can also install dash-cams to prove your innocence against frauds</li>
    </ul>          
  </p>
  <br />
</div>
</div>

<div class="assideContent">
  <div class="assideButtons">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('bookService')}}"
        >Book a car service</a
      >
    </button>
  </div>

  <div class="assideButtons">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('helpPage')}}"
        >Contact us for advice</a
      >
    </button>
  </div>

  <div class="dropdown assideButtons">
    <button
      class="btn btn-primary dropdown-toggle bookservice btn-lg"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Useful tips
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="{{url_for('accidentAdvices')}}"
          >Accident advices</a
        >
      </li>
      <!-- <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"
          >Car maintainance tips</a
        >
      </li> -->
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"></a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
  <!--  -->
</div>
{% endblock %}
