{% extends 'base.html' %}

<!-- PAGE TITLE -->
{% block title %}Homepage{% endblock %}

<!-- HEADER -->
{% block header %}
<h1>Home</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
<div class="homepage">
  <div class="homeMainSection">
    <div class="mainImage"></div>


    
    <!-- <div class="assideSection">
     
      <div class="homepageButton">
        <button type="button" class="btn btn-primary btn-lg bookservice">
          <a class="dropdown-item" href="{{url_for('bookService')}}"
            >Book a car service</a
          >
        </button>
      </div>

      <div class="homepageButton">
        <button type="button" class="btn btn-primary btn-lg bookservice">
          <a class="dropdown-item" href="{{url_for('helpPage')}}">Contact us for advice</a>
        </button>
      </div>

      <div class="dropdown homepageButton">
        <button
          class="btn btn-primary dropdown-toggle bookservice btn-lg"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Useful tips
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" href="{{url_for('accidentAdvices')}}"
              >Accident advices</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="{{url_for('tips')}}"
              >Car maintainance tips</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="{{url_for('tips')}}"></a>
          </li>
        </ul>
      </div>
      
    </div> -->
    

    <!--  -->
    <!--  -->
    {% block asside %}

<div class="assideContent">
  <!--  -->
  <!-- <div class="assideSection"> -->
  <div class="homepageButton">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('bookService')}}"
        >Book a car service</a
      >
    </button>
  </div>

  <div class="homepageButton">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('helpPage')}}"
        >Contact us for advice</a
      >
    </button>
  </div>

  <div class="dropdown homepageButton">
    <button
      class="btn btn-primary dropdown-toggle bookservice btn-lg"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Useful tips
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="{{url_for('accidentAdvices')}}"
          >Accident advices</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"
          >Car maintainance tips</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"></a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
  <!--  -->
</div>

{% endblock %}

<!--  -->
<!--  -->

    <div class="mainContent">
      <h1>
        Welcome to first div! Welcome to first div! Welcome to first div!
        Welcome to first div! Welcome to first div! Welcome to first div!
        Welcome to first div! Welcome to first div! Welcome to first div!
        Welcome to first div! Welcome to first div! Welcome to first div!
        Welcome to first div! Welcome to first div! Welcome to first div!
        Welcome to first div! Welcome to first div! Welcome to first div!
        Welcome to first div! Welcome to first div! Welcome to first div!
        Welcome to first div! Welcome to first div! Welcome to first div!
       
      </div>
      </h1>
     
  </div>
</div>
{% endblock %}
