{% extends 'base.html' %}

<!-- PAGE TITLE -->
{% block title %}Homepage{% endblock %}

<!-- HEADER -->
{% block header %}
<h1>Home</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}

<div class="homepage">
  <div class="homeMainSection">
    <div class="mainImage">
      <h1></h1>
    </div>
    <div class="advertInfo">THE BEST CAR SERVICES YOU CAN COUNT ON</div>
    <div class="mainContent">
      <h1 style="text-align: center">
        Welcome to <em><strong>MotoServ </strong></em>car service!
      </h1>
      <h4>
        The aim of our car service is to provide professional and high-quality
        services for your car. Each of our customers can be sure that the car
        will be paid special attention and quality repairs will be performed.
        Also, we offer a guarantee for all types of work.
      </h4>
      <h4>
        Using our services regularly you can benefit from a great discount.
      </h4>
      <h4>
        Our recommendation for you is to have a car diagnosis on time and your
        car will say "thank you".
      </h4>
      <h4>
        We serve all types of cars, weighing up to 4 tons, using only original
        parts.
      </h4>
      <h4>We promise you it's worth trying.</h4>
    </div>
  </div>
</div>
{% endblock %}

<!--  -->
{% block asside %}

<div class="assideContent">
  <div class="assideButtons aboutAssideButtons">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('bookService')}}"
        >Book a car service</a
      >
    </button>
  </div>

  <div class="assideButtons aboutAssideButtons">
    <button type="button" class="btn btn-primary btn-lg bookservice">
      <a class="dropdown-item" href="{{url_for('helpPage')}}"
        >Contact us for advice</a
      >
    </button>
  </div>

  <div class="dropdown assideButtons aboutAssideButtons">
    <button
      class="btn btn-primary dropdown-toggle bookservice btn-lg"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <a> Useful tips </a>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="{{url_for('accidentAdvices')}}"
          >Accident advices</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"
          >Car maintainance tips</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{{url_for('tips')}}"></a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
