{% extends 'base.html' %}

<!-- PAGE TITLE -->
{% block title %}Login{% endblock %}

<!-- HEADER -->
{% block header %}
<h1>Log in</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
<div class="mainLoginSection">
  <div class="heading">
    <h1>You are in "Login" page</h1>
    <h2>Please fill in the form bellow to access your account.</h2>
  </div>

  <div class="loginForm">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <div class="post-btn">
        <button type="submit" class="button btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
