{% extends "base.html" %}

<!-- PAGE TITLE -->
{% block title %}Pricing{% endblock %}

<!-- HEADER -->
{% block header %}
<h1>Service pricing</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
<h1>Hello! You are on "Pricing" page.</h1>
<h2>Check the price for car services before making a booking</h2>

<div>
  <!-- BASIC SERVICE -->
  <div class="services">
    <div class="serviceType bg-primary">
      <h3>
        Basic Service / €89<sup> <u>99</u></sup>
      </h3>
    </div>

    <div class="picture">
      <img src="../static/images/pricingpage_images/basicservice.jpg" />
    </div>

    <div class="serviceInfo">
      <h6>Information about "Basic service"</h6>
      <h6>
        <ul>
          <li>oiling</li>
          <li>oiling</li>
          <li>oiling</li>
        </ul>
      </h6>
      <br />
    </div>

    <div class="bookService">
      <button class="btn btn-primary">Book now</button>
    </div>
  </div>

  <!-- FULL SERVICE -->
  <div class="services">
    <div class="serviceType bg-primary">
      <h3>
        Full Service / €119<sup> <u>99</u></sup>
      </h3>
    </div>
    <div class="picture">
      <img src="../static/images/pricingpage_images/fullservice.jpg" />
    </div>
    <div class="serviceInfo"></div>

    <div class="bookService">
      <button class="btn btn-primary">Book now</button>
    </div>
  </div>

  <!-- PRE-NCT SERVICE -->
  <div class="services">
    <div class="serviceType bg-primary">
      <h3>
        Pre-NCT Service / €89<sup> <u>99</u></sup>
      </h3>
    </div>
    <div class="picture">
      <img src="../static/images/pricingpage_images/Pre-NCT.jpg" />
    </div>
    <div class="serviceInfo"></div>
    <div class="bookService">
      <button class="btn btn-primary">Book now</button>
    </div>
  </div>

  <!-- 4TH TYPE OF SERVICE -->
  <div class="services">
    <div class="serviceType bg-primary">
      <h3>
        Tyres Service / €89<sup> <u>99</u></sup>
      </h3>
    </div>

    <div class="picture">
      <img src="../static/images/pricingpage_images/tyreservice.jpg" />
    </div>

    <div class="serviceInfo">
      <h6>Information about "Basic service"</h6>
      <h6>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </h6>
      <br />
    </div>

    <div class="bookService">
      <button class="btn btn-primary">Book now</button>
    </div>
  </div>

  <!-- 5TH TYPE OF SERVICE -->
  <div class="services">
    <div class="serviceType bg-primary">
      <h3>
        Full Service / €119<sup> <u>99</u></sup>
      </h3>
    </div>
    <div class="picture">
      <img src="../static/images/pricingpage_images/" />
    </div>
    <div class="serviceInfo"></div>

    <div class="bookService">
      <button class="btn btn-primary">Book now</button>
    </div>
  </div>

  <!-- 6TH TYPE OF SERVICE -->
  <div class="services">
    <div class="serviceType bg-primary">
      <h3>
        Basic Service / €89<sup> <u>99</u></sup>
      </h3>
    </div>
    <div class="picture">
      <img src="../static/images/pricingpage_images/" />
    </div>
    <div class="serviceInfo"></div>
    <div class="bookService">
      <button class="btn btn-primary">Book now</button>
    </div>
  </div>
</div>
{% endblock %}
