{% extends 'base.html' %}

<!-- PAGE TITLE -->
{% block title %}Register{% endblock %}

<!-- HEADER -->
{% block header %}
<h1>Register</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
<div class="mainRegisterSection">
  <div class="registerHeading heading">
    <h2>CREATE YOUR OWN ACCOUNT</h2>
    <div class="accountBenefits">
     <p>
      Having an account you can:
      <ul>
        <li>benefit from a discount of up to 20%</li>
        <li>get access to all of your vehicle information</li>
        <li>monitor your service history</li>
      </ul>
     </p>
    </div>
   
  </div>
  <div class="registerForm">

    {% if error %}
    <small style="color: red; font-size: 14px; text-align: center"
      >{{ error }}</small
    >
    {% endif %}

    <form
      method="POST"
      action="{{ url_for('register') }}"
      class="regform"
      id="regform"
    >
      <div class="mb-3 firstName formField">
        <label class="form-label">First name</label>
        <input name="FName" type="text" class="form-control" id="FName" />
        <small>Error message</small>
      </div>

      <div class="mb-3 lastName formField">
        <label for="exampleLastName1" class="form-label">Last name</label>
        <input
          name="LName"
          type="text"
          class="form-control"
          id="exampleLastName1"
          aria-describedby="LastNameHelp"
        />
      </div>

      <div class="mb-3 phoneNumber formField">
        <label for="examplePhoneNumber1" class="form-label">Phone number</label>
        <input
          name="phone"
          type="phone"
          class="form-control"
          id="examplePhoneNumber1"
          aria-describedby="PhoneNumberHelp"
        />
      </div>

      <div class="mb-3 emailAddress formField">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3 password formField">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <div class="mb-3 confirmPassword formField">
        <label for="exampleInputPassword1" class="form-label"
          >Confirm Password</label
        >
        <input
          name="conf_password"
          type="password"
          class="form-control"
          id="exampleInputConfirmPassword1"
        />
      </div>

      <div class="post-btn">
        <button type="submit" class="btn btn-primary button">Sign up</button>
      </div>
    </form>
  </div>
</div>

<!-- <script src="../static/JS/registerValidationForm.js"></script> -->
{% endblock %}
