{% extends "base.html" %}

<!-- PAGE TITLE -->
{% block title %}Pricing{% endblock %}

<!-- HEADER -->
{% block header %}
<h1>Service pricing</h1>
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
<div class="headingInfo">
<h2>Our car service offers a wide range of services </h2>
</div>
<div class="servicePageContent">
  <!-- <div class="Row"> -->

    <!-- #################################### -->
    <!-- ########  2. BASIC SERVICE ########## -->
    <!-- #################################### -->
    
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Basic Service
        </h3>
      </div>

      <div class="picture">
        <img src="../static/images/pricingpage_images/basicservice.jpg" />
      </div>

      <div class="serviceInfo">
        <div class="serviceText">
          <h6>
            "Basic service" is recommended every 6 months or 6000 miles, whichever comes first.
          </h6>
        </div>
        <p>
          <a class="btn btn-secondary" 
            data-bs-toggle="collapse" 
            href="#basicService" 
            role="button" 
            aria-expanded="false" 
            aria-controls="collapseExample">
            What's included
          </a>
        </p>
        <div class="collapse" id="basicService">
          <div class="card card-body">
          <p>
            <ul>
              <li>Visual inspection</li>
              <li>Oil & filter change</li>
              <li>Windscreen washer fluid</li>
              <li>Anti-freeze</li>
              <li>Brake fluid</li>
              <li>Steering fluid</li>
              <li>Brake Pads & Discs</li>
              <li>Oil & Fluid Leaks</li>
              <li>Tyres, Condition & Pressures</li>
              <li>Electrical System</li>
              
            </ul>
          </p>
          </div>
        </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>

    <!-- #################################### -->
    <!-- ########  2. FULL SERVICE ########## -->
    <!-- #################################### -->
    
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Full Service 
        </h3>
      </div>
      <div class="picture">
        <img src="../static/images/pricingpage_images/fullservice.jpg" />
      </div>
      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
            "Full service" is recommended each 12 months or 12,000 miles, whichever comes first.
          </h6>
        </div>

        <p>
          <a class="btn btn-secondary" 
            data-bs-toggle="collapse" 
            href="#fullService" 
            role="button" 
            aria-expanded="false" 
            aria-controls="collapseExample">
            What's included
          </a>
        </p>
        <div class="collapse" id="fullService">
          <div class="card card-body">
            <p>
              <ul>
                <strong>Replacing:</strong>
                <li>Engine oil</li> 
                <li>Oil filter</li> 
                <li>Air filter</li>
                <li>Windscreen washer fluid</li>
                <strong>Inspecting and adjusting:</strong>
                <li>Fluid Levels</li>
                <li>Oil & Fluid Leaks</li>
                <li>Drive Shafts</li>
                <li>Exhaust & Mountings</li>
                <li>Front & Rear Suspensions</li>
                <li>Brakes Pipes & Hoses</li>
                <li>Brake Pads & Discs</li>
                <li>Brake Linings & Drums</li>
                <li>Brake Pedal & Handbrake</li>
                <li>Drive Belts</li>
                <li>Cooling System</li>
                <li>Electrical System</li>
                <li>Tyres, Condition & Pressures</li>
                <li>Seat Belts</li>
                <li>Bodywork, Corrosion</li>      
              </ul>
            </p>
          </div>
        </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>


    <!-- #################################### -->
    <!-- ######   3. PRE-NCT SERVICE ######## -->
    <!-- #################################### -->
   
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Pre-NCT Service
        </h3>
      </div>
      <div class="picture">
        <img src="../static/images/pricingpage_images/Pre-NCT.jpg" />
      </div>
      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
            A Pre-NCT is a vehicle check completed before a NCT, which is a compulsory vehicle inspection programme in Ireland.
          </h6>
        </div>
        
        <div>
          <p>
            <a class="btn btn-secondary" 
              data-bs-toggle="collapse" 
              href="#pre-NCT" 
              role="button" 
              aria-expanded="false" 
              aria-controls="collapseExample">
              What's included
            </a>
          </p>
          <div class="collapse" id="pre-NCT">
            <div class="card card-body">

              <p>
                <ul>
                  <li>Brakes</li>
                  <li>Exhaust emissions</li>
                  <li>Wheels and tyres</li>
                  <li>Lights</li>
                  <li>Steering and suspension</li>
                  <li>Chassis and under body</li>
                  <li>Electrical systems</li>
                  <li>Glass and mirrors</li>
                  <li>Interior</li>
                  <li>Fuel system</li>
                  <li>Miscellaneous</li>
                </ul>
              </p>
            </div>
          </div>
          <br />
        </div>
      </div>


      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>
  <!-- </div> -->



  <!-- <div class="Row"> -->
    <!-- #################################### -->
    <!-- ######   4. TYRES SERVICE ######### -->
    <!-- #################################### -->
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Tyres Service 
        </h3>
      </div>

      <div class="picture">
        <img src="../static/images/pricingpage_images/tyreservice.jpg" />
      </div>

      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
            We offer a wide range of tyres that suit your style and budget.  
            Whether you are looking for a high performance tyre brand or a budget tyre 
            you can find it at MotoServ.
          </h6>
        </div>

        <div class="serviceInclude">
          <p>
            <a class="btn btn-secondary" 
              data-bs-toggle="collapse" 
              href="#tyreService" 
              role="button" 
              aria-expanded="false" 
              aria-controls="collapseExample">
              What's included
            </a>
          </p>
        </div>

          <div class="collapse" id="tyreService">
            <div class="card card-body">
              <p>
                <ul>
                  <li>Puncture repair</li>
                  <li>Tyre replace</li>
                  <li>Tyre inflation</li>
                  <li>Tyre pressure measuring</li>
                  
                </ul>
              </p>  
            </div>
          </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>


    <!-- #################################### -->
    <!-- ######  5. SUSPENTION REPAIR ####### -->
    <!-- #################################### -->
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Suspension repair
        </h3>
      </div>

      <div class="picture">
        <img src="../static/images/pricingpage_images/disks.jpg" />
      </div>

      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
            A car's suspension maximizes the friction between the tyres and the road surface, 
            to ensure steering stability, good handling and the comfort of the passengers.
          </h6>
        </div>
        
          <p>
            <a class="btn btn-secondary" 
              data-bs-toggle="collapse" 
              href="#collapseExample" 
              role="button" 
              aria-expanded="false" 
              aria-controls="collapseExample">
              What's included
            </a>
          </p>

          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <p>
                <ul>
                  <li>Wheel balancing</li>
                  <li>Replacement of Shock absorbers</li>
                  <li>Lever replacement</li>
                  <li>Wheel hub replacement</li>
                  <li>Replacement of stabilizer bushings</li>
                  <li>Replacing the rear stabilizer rods</li>
                  <li>Replacement of front stabilizer bars</li>
                  <li>Suspension spring change</li>
                </ul>
              </p>  
            </div>
          </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>

    <!-- #################################### -->
    <!-- ######   6. ENGINE SERVICE ######### -->
    <!-- #################################### -->
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Engine Service
        </h3>
      </div>

      <div class="picture">
        <img src="../static/images/pricingpage_images/engine.jpg" />
      </div>

      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
            The engine is the "heart" of your car. Keeping it serviced 
            and in good condition will ensure that you and your family 
            are safe on the road.
          </h6>
        </div>
       
          <p>
            <a class="btn btn-secondary" 
              data-bs-toggle="collapse" 
              href="#engineService" 
              role="button" 
              aria-expanded="false" 
              aria-controls="collapseExample">
              What's included
            </a>
          </p>

          <div class="collapse" id="engineService">
            <div class="card card-body">
              <p>
                <ul>
                  <li>General engine reparation</li>
                  <li>Valve adjustment</li>
                  <li>Compression measurement</li>
                  <li>Turbine replacement</li>
                  <li>Cylinder head gasket replacement</li>
                  <li>Replacement of piston rings and caps</li>
                  <li>Engine Mount Replacement</li>
                  <li>Replacement of the intake and exhaust gallery gasket</li>  
                </ul>
              </p>  
            </div>
          </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>


    <!-- ################################################## -->
    <!-- ######   7. AIR CONDITIONING AND HEATING ######### -->
    <!-- ################################################## -->
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Air conditioning
        </h3>
      </div>

      <div class="picture">
        <img src="../static/images/pricingpage_images/airConditioning.jpg" />
      </div>

      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
            Air conditioning and ventilation are very important for a comfortable microclimate inside your vehicle.
          </h6>
        </div>
       
          <p>
            <a class="btn btn-secondary" 
              data-bs-toggle="collapse" 
              href="#airConditioning" 
              role="button" 
              aria-expanded="false" 
              aria-controls="collapseExample">
              What's included
            </a>
          </p>

          <div class="collapse" id="airConditioning">
            <div class="card card-body">
              <p>
                <ul>
                  <li>Conditioner drain</li>
                  <li>Radiator repair</li>
                  <li>Disinfection of the ventilation system</li>
                  <li>Air conditioning antibacterial treatment</li>
                  <li>Air conditioning compressor replacement</li>           
                </ul>
              </p>  
            </div>
          </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>


    <!-- ################################################## -->
    <!-- #########   8. COOLING SYSTEM  ################### -->
    <!-- ################################################## -->
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Cooling system
        </h3>
      </div>

      <div class="picture">
        <img src="../static/images/pricingpage_images/cooling.jpg" />
      </div>

      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
            The cooling system removes the heat excess from the engine,  
            preventing it from overheating. Cooling system failures must 
            be taken seriously and fixed in good time.
          </h6>
        </div>
       
          <p>
            <a class="btn btn-secondary" 
              data-bs-toggle="collapse" 
              href="#coolingSystem" 
              role="button" 
              aria-expanded="false" 
              aria-controls="collapseExample">
              What's included
            </a>
          </p>

          <div class="collapse" id="coolingSystem">
            <div class="card card-body">
              <p>
                <ul>
                  <li>Repairing or  replacing the radiator</li>
                  <li>Thermostat replacement</li>
                  <li>Coolant pump replacement</li>
                  <li>Cooling system cleaning</li>       
                </ul>
              </p>  
            </div>
          </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>


    <!-- ################################################## -->
    <!-- #########   9. MISCELLANEOUS SERVICES  ########### -->
    <!-- ################################################## -->
    <div class="services">
      <div class="serviceType bg-primary">
        <h3>
          Miscellaneous Services
        </h3>
      </div>

      <div class="picture">
        <img src="../static/images/pricingpage_images/misscelaneous.jpg" />
      </div>

      <div class="serviceInfo">

        <div class="serviceText">
          <h6>
          Our car service provide a range of miscellaneous services that you may be interested in. 
          </h6>
        </div>
       
          <p>
            <a class="btn btn-secondary" 
              data-bs-toggle="collapse" 
              href="#miscellaneous" 
              role="button" 
              aria-expanded="false" 
              aria-controls="collapseExample">
              What's included
            </a>
          </p>

          <div class="collapse" id="miscellaneous">
            <div class="card card-body">
              <p>
                <ul>
                  <li>Restoring the car's interior</li>
                  <li>Reparation or replacement of the headlights</li>
                  <li>Headlight adjustment</li>
                  <li>Car polishing</li>
                  <li>Odour removal</li>     
                  <li>Polishing body parts</li>  
                  <li>Car carpet repair</li>  
                  <li>Welding works</li>  
                  <li>Car lock repair</li>              
                </ul>
              </p>  
            </div>
          </div>
        <br />
      </div>

      <div class="bookService">
        <a href="{{url_for('bookService')}}">
          <button class="btn btn-primary">Book now</button>
        </a>
      </div>
    </div>
  <!-- </div> -->
</div>
{% endblock %}
